/*
 * Title: Sprint 3 - Nodebucket;
 * Author: Professor Krasso
 * Date: 4/5/2021
 * Modified By: Jonathan Roland
 * Description: This application provides a TODO list to users to track work or study items;
*/

mat-card{
  width: 100%;
}

mat-card-content{
  margin-top: 50px;
  margin-bottom: 50px;
}

h2{
  text-align: center;
}

.contact-1{
  margin-right: 200px;
}

.contact-2{
  margin-left: 200px;
}
