<!--
 * Title: Sprint 3 - Nodebucket;
 * Author: Professor Krasso;
 * Date: 4/5/2021;
 * Modified By: Jonathan Roland;
 * Description: This application provides a TODO list to users to track work or study items;
-->

<div fxFlex fxLayoutAlign="center" fxFlexFill class="container">
  <mat-card>
    <mat-card-title>
      <h2>Roland Application Designs</h2>
    </mat-card-title>
    <hr>
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="30px" >
        <div class="contact-1">
          <b>Phone: </b>
          <p>865 123 4567</p>
          <b>Email: </b>
          <p>jdroland@radicaldesign.com</p>
        </div>
        <div class="contact-2">
          <b>Address: </b>
          <p>123 Fake Street</p>
          <p>Knoxville, TN</p>
          <p>54321</p>
          <p>United States</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
