<!--
 * Title: Sprint 3 - Nodebucket;
 * Author: Professor Krasso;
 * Date: 4/5/2021;
 * Modified By: Jonathan Roland;
 * Description: This application provides a TODO list to users to track work or study items;
-->

<!-- <div fxLayout="column">
  <mat-card fxFlex style="margin-top: 10%;" class="mat-elevation-z0">
    <mat-card-title>

    </mat-card-title>
    <mat-card-content style="text-align: center; padding-left: 30%;">
      <div class></div>
      <img src="./assets/bucket-critter.JPG" style="width: 75%"/>
      <button mat-raised-button color="accent" routerLink="/">Return Home</button>
    </mat-card-content>
  </mat-card>
</div> -->

<div class="container">
  <div fxLayout="row wrap" >
    <img src="./assets/bucket-critter.JPG" />
    <img src="./assets/404-message.JPG" />
  </div>
  <button mat-raised-button color="accent" routerLink="/">Return Home</button>
</div>

