<!--
 * Title: Sprint 3 - Nodebucket;
 * Author: Professor Krasso;
 * Date: 4/5/2021;
 * Modified By: Jonathan Roland;
 * Description: This application provides a TODO list to users to track work or study items;
-->

<div class="container" fxFlex="50%">
  <div fxLayout="row wrap" >
    <img src="./assets/bucket-critter-does-task.JPG" />
    <div class="about-text-div">
      <p>
        Nodebucket is an organization tool for all kinds of people: busy moms, teachers, students, professionals and more.
        You can create and edit tasks to keep track of your important real-world responsibilities, then move finished tasks into the ‘Done’ column through a simple drag-and-drop interface. When you no longer need to keep track of your finished tasks you can either delete them individually or clear the ‘Done’ column using the trash can icon. When you are finished using the application you can simply sign out with the Log Out button in the upper right corner. To resume, you can log in with your user ID in the Log In screen.
      </p>
      <p>
        Roland Application Development is a small shop with a big impact located in Knoxville, Tennessee. Run solely by full-stack application developer Jonathan Roland, R.A.D. is the proud creator of Nodebucket, Bob’s Computer Repair Shop, Composer App and more. Starting in the industry in 2016, Jonathan worked at Jewelry Television developing internal business applications for their Customer Care department which brought manual pen-and-paper processes up to speed with modern web interfaces and instant analytics. Previous projects include an equipment inventory management system, employee locker assignment system, work type tracking system, and a custom event enrollment system that was used to sign up customers for a yearly live gemstone lecture series. These apps were hosted on an internal Wordpress instance and utilized LDAP to manage login credentials and role based access for employees.
      </p>
      <p>
        Jonathan’s Wordpress experience continues at Pellissippi State Community College where he has implemented an overlay system that leverages the Learndash educational content plugin to provide more deeply customized, recurring training and training completion reporting. He has been sharpening his skills in the MEAN stack through the Web Development B.S. at Bellevue University since March 2020 and is projected to finish in Summer 2021.
      </p>
      <p>
        Do you have a web application vision you want to see brought into real use? Contact Roland Application Development (just click the About link above) and let’s make your application R.A.D.!
      </p>
    </div>
  </div>
</div>
