/*
 * Title: Sprint 1 - Nodebucket;
 * Author: Professor Krasso
 * Date: 3/20/2021
 * Modified By: Jonathan Roland
 * Description: This application provides a TODO list to users to track work or study items;
*/

/* This file acts as the style sheet for the home component */

.main-welcome {
    margin-top: 30px;
  }

  .title {
    text-align: center;
    font-weight: lighter;
  }

  .subtitle {
    text-align: center;
    font-size: 14px;
  }
