<!--
 * Title: Sprint 1 - Nodebucket;
 * Author: Professor Krasso;
 * Date: 3/20/2021;
 * Modified By: Jonathan Roland;
 * Description: This application provides a TODO list to users to track work or study items;
-->

<!-- This file defines the home display using Angular Material and fxLayout for layout -->

<div fxLayout="column" class="main-welcome">
    <h1 class="title">
      Welcome to WEB 450's - nodebucket Project <br />
      <span class="subtitle">
        Pay close attention to the requirements, double and triple check the files for code attribution, and do not wait unitl the last minute to begin working on each item.
      </span>
    </h1>
  </div>
